scipy==1.18.1
duckdb==1.5.4
numpy==2.5.1
pandas==3.0.6
tqdm==4.70.1
seaborn==0.13.2
matplotlib==3.11.2
torch==2.14.0
kennard-stone==3.0.1
scikit-learn==1.9.1
catboost==1.2.10
tabpfn==8.5.0
cubist==1.2.2
joblib==1.6.0
